@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<br>

@if(@Model.Treats.Count == 0)
{
  <h4>Currently this Flavor is not used in any of the treats.</h4>
}
else
{
  <h4>Treats this flavor makes delicious:</h4>
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li>@join.Treat.Name</li>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)

        <input type="submit" value="Delete" class="btn btn-dark btn-sm" />
      }
    }
  }
  </ul>
}

<br>

@if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
{
  <h3>@Html.ActionLink("Add a Treat", "addTreat", new { id = Model.FlavorId }, new { @class="modelOptions" })</h3>
  <h3>@Html.ActionLink("Edit this Flavor", "Edit", new { id = Model.FlavorId }, new { @class="modelOptions" })</h3>
  <h3>@Html.ActionLink("Delete this Flavor", "Delete", new { id = Model.FlavorId }, new { @class="modelOptions" })</h3>
}